/Saved/Autosaves/PackageRestoreData.json
/Saved/Config/CrashReportClient/UECC-Windows-00AEC8584C8005A410B341BEAE1B8B4D/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-9C95DA1744EBF3D1CD9C08AAF62DCE3D/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-67492CC64FFD2D1FA292E7BFBA40268B/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-C5C81D394B81EDD0190597B5F7085C2E/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-F475D6CC4ECF23693CB3409069167DDB/CrashReportClient.ini
/Saved/Config/WindowsEditor/Editor.ini
/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
/Saved/Config/WindowsEditor/GameUserSettings.ini
/Saved/Config/WorldState/1118741777.json
/Saved/Config/WorldState/3092874187.json
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00000c74-2024-12-24T04.20.14.321Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00000c74-2024-12-24T04.20.53.519Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00000c74-2024-12-24T04.29.52.477Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00000c74-2024-12-24T04.36.16.858Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.47.36.662Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.48.23.660Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.50.20.472Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.51.13.878Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.52.07.657Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T04.53.30.694Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00003a5c-2024-12-24T05.01.10.548Z.log
/Saved/Logs/WorldPartition/StreamingGeneration-PIE_MapDevLevel-00004e24-2024-12-24T05.07.04.766Z.log
/Saved/Logs/UnrealVersionSelector-2024.12.24-05.06.19.json
/Saved/Logs/UnrealVersionSelector-2024.12.24-05.06.19.log
/Saved/Logs/Warrior.log
/Saved/Logs/Warrior-backup-2024.12.23-17.24.36.log
/Saved/Logs/Warrior-backup-2024.12.23-17.35.08.log
/Saved/Logs/Warrior-backup-2024.12.23-18.06.26.log
/Saved/Logs/Warrior-backup-2024.12.23-18.32.58.log
/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_c1ff929ae6e37fb4/Default/DDCKey-Editor.txt
/Saved/SourceControl/UncontrolledChangelists.json
/Saved/UnrealBuildTool/BuildConfiguration.xml
/Saved/AutoScreenshot.png
